   <!-- HERO -->
  <div class="hero-unit">
    <h1>Beaches and Stuff</h1>
    <p>Tagline</p>
  </div>


  <h3>{{ appSettings.title}} </h3>
  <select ng-change="beachesCtrl.getBeach(beachesCtrl.selectedBeach.name)" name="selectedBeach" ng-model="beachesCtrl.selectedBeach" ng-options="beach.name for beach in beachesCtrl.beaches">
  </select>
  <!-- <h1>{{beachesCtrl.selectedBeach.name}}</h1>
  <h2>{{beachesCtrl.selectedBeach.comments}}</h2> -->
  <ul class= "beachComments">
    <h2>Parking</h2>
    <li ng-repeat= "comment in beachesCtrl.selectedBeach.comments | filter:{commentType:'parking'}: true">{{comment.body}}</li>
    <h2>Restaurants</h2>
    <li ng-repeat= "comment in beachesCtrl.selectedBeach.comments | filter:{commentType:'restaurants'}: true">{{comment.body}}</li>
    <h2>Activities</h2>
    <li ng-repeat= "comment in beachesCtrl.selectedBeach.comments | filter:{commentType:'activities'}: true">{{comment.body}}</li>
  </ul>
  <ul class="beachPictures">
    <li ng-repeat= "thumbnail in beachesCtrl.selectedBeach.thumbnail">
    <img src="#" ng-src="{{thumbnail}}" />
    </li>
  </ul>
  <form novalidate name='form' class="css-form">

    <input type="radio" ng-model="beachesCtrl.category"value="parking" />parking<br/>
    <input type="radio" ng-model="beachesCtrl.category" value="restaurants" />restaurants<br />
    <input type="radio" ng-model="beachesCtrl.category" value="activities" />activites<br>
    <input type="text" name="body" ng-model="beachesCtrl.newComment"/>
  <button ng-click="beachesCtrl.update()">Save</button>
  </form>




